## Logging (docs: https://docs.rs/env_logger/latest/env_logger/)
# Possible options for RUST_LOG:
# "error" - Logs only error messages.
# "warn" - Logs warnings and errors.
# "info" - Logs informational messages, warnings, and errors.
# "debug" - Logs debug, informational messages, warnings, and errors.
# "trace" - Logs all messages including trace-level details.
# "off" - Disables logging entirely.
# You can also specify logging levels for specific modules, e.g.:
# - "debug,sqlx=info": Debug message for entire app, info for sqlx module.
# - "off": Disables logging entirely
RUST_LOG="debug,sqlx=info"

# Connection string for the database.
DATABASE_URL=postgresql://arcadia:password@localhost:5432/arcadia

# Interval for tracker announcements (in seconds).
ARCADIA_TRACKER_ANNOUNCE_INTERVAL=1800
# Grace period for tracker announcements (in seconds).
ARCADIA_TRACKER_ANNOUNCE_INTERVAL_GRACE_PERIOD=1800

# Docker buildkit support
DOCKER_BUILDKIT=1
COMPOSE_DOCKER_CLI_BUILD=1
