@import './base.css';

body {
  margin: 0;
  background-color: var(--color-background-primary); /* Dark theme */
}

#app {
  max-width: 2200px;
  margin: 0 auto;
  font-weight: normal;
}

#app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  min-height: 100vh;
}

#view-container {
  width: 77%;
}

a:hover {
  background-color: transparent !important;
  /* color: var(--color-primary); */
}
a {
  color: var(--color-secondary);
  text-decoration: none;
}

.bg-unread {
  background-color: #241b30 !important;
}

.wrapper-center {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 2em;
}

.input-list .p-component {
  margin-right: 5px;
  margin-bottom: 5px;
}

.p-datatable-table,
.p-accordionpanel {
  border-radius: 7px;
  overflow: hidden;
}
/* .p-datatable-row-group-header td{
  width: 100% !important;
} */

.dense-accordion .p-accordionheader {
  padding: 0.5em;
}
.dense-accordion .p-accordioncontent-content {
  padding-top: 1em;
}

.p-galleria-indicator-list:has(li:only-child) {
  display: none;
}

.pre-style {
  font-family: monospace !important;
  white-space: pre-wrap !important;
  overflow-wrap: break-word !important;
}

.bold {
  font-weight: bold;
}
.warning {
  color: rgb(213, 128, 31);
}
.danger {
  color: rgb(214, 52, 52);
}
.no-color {
  color: unset;
}

.line {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  .p-floatlabel {
    margin-right: 15px;
  }
}

.sidebar-right {
  display: flex;
  .main {
    margin-right: 20px;
  }
}
.sidebar-left {
  display: flex;
  flex-direction: row-reverse;
  .main {
    margin-left: 20px;
  }
}
.slim-header {
  margin-bottom: 20px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.p-tabs {
  border-radius: 7px;
  overflow: hidden;
}

.p-floatlabel-over {
  margin-top: 25px;
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
