name: Backend CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - 'backend/**'

env:
  CARGO_TERM_COLOR: always


jobs:
  build:
    runs-on: ubuntu-latest
    container: rust:1.86-bullseye
    defaults:
      run:
        working-directory: ./backend

    services:
      arcadiadb:
        image: postgres
        env:
          POSTGRES_USER: arcadia
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v4

    - name: Setup env
      run: cp -f .env.ci .env

    - name: Build
      run: cargo build

    - name: Run tests
      run: cargo test

    - name: Install sqlx
      run: cargo install sqlx-cli

    - name: Ensure schema and query metadata are in sync
      run: cargo sqlx prepare --check

