name: running build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    container: rust:1.86-bullseye

    services:
      arcadiadb:
        image: postgres
        env:
          POSTGRES_USER: arcadia
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v4

    - name: setup env
      run: |
        cp -f .env.ci .env.local
        cp -f .env.ci .env

    - name: install sqlx
      run: cargo install sqlx-cli

    - name: setup database
      env:
        DATABASE_URL: postgresql://arcadia:password@arcadiadb:5432/arcadia?schema=public
      run: cargo sqlx database setup

    - name: Build
      run: cargo build

    - name: Run tests
      run: cargo test
